:8080 {
  handle_path /mml-map/* {
    root * /srv
    file_server
  }

  # Proxy API requests to the backend server
  handle /api/* {
    reverse_proxy server:3000
  }

  root * /srv
  file_server
} 
